*{
    box-sizing: border-box;
}
:root{
    --app-padding: 1rem;
    --app-width: min(2000px, 100vw);
    --app-height: min(2000px, (calc(100vh - (var(--app-padding) * 2))));
    --board-width: calc(var(--app-width) - (var(--app-padding) * 2));
    --board-height: calc(var(--app-height) - (var(--app-padding) * 2));
    --board-size: min(var(--board-width), var(--board-height));
    --board-width-unit: calc(var(--board-width)/15);
    --board-height-unit: calc(var(--board-height)/15);
    --board-size-unit: calc(var(--board-size)/15);
    --player-area-width: var(--board-width);
    --player-area-height: var(--board-height);
    --card-width: calc(var(--board-width-unit) * 1.3);
    --card-height: calc(var(--card-width) * 1.5);
    --player-area-height-max: var(--player-area-height);
    --player-identity-width: clamp(50px, calc(var(--board-size-unit) * 3), 150px);
}
@media screen and (orientation:portrait) {
    :root{
        --board-height: min(calc(var(--app-height) - (var(--app-padding) * 2)), calc(var(--board-width) * 2));
        --player-area-width: calc(var(--board-width-unit) * 14);
        --player-area-height: calc(var(--board-height) - (var(--card-height) * 2.5));
        --card-width: calc(var(--board-width-unit) * 1.7);
        
    }
}
@media screen and (orientation:landscape) {
    :root{
        --board-width: min(calc(var(--app-width) - (var(--app-padding) * 8)), calc(var(--board-height) * 2));
        --card-width: min(calc(var(--board-width-unit) * 1.3), calc((var(--board-height-unit) + var(--board-width-unit)) * .6));
        --player-area-width: calc(var(--board-width) - (var(--card-width) * 3));
        --player-area-height: calc(var(--board-height) - (var(--card-height) * 1));
    }
}
:root{
    --player-area-height-max: calc(var(--card-height) * 6);
    --player-area-height-min: calc(var(--card-height) * 3.5);
    --player-area-width-max: calc(var(--card-width) * 13);
    
    --color-red: #e92808;
    --color-black: #362f4e;
    --card-inside-unit: calc(var(--card-width)/12);
    --card-number-size: calc(var(--card-inside-unit) * 3);

    --card-radius: calc(var(--card-width) * .1);
    --btn-radius: clamp(4px, calc(var(--board-size) * .008), 10px);

    --btn-font-size: clamp(10px, calc(var(--board-size-unit) * .3), 20px);
    --btn-padding: calc(var(--board-size-unit) * .1) calc(var(--board-size-unit) * .2);

    --result-font-size: clamp(10px, calc(var(--board-size-unit) * .3), 20px);
    --submit-table-radius: calc(var(--board-size-unit) * 5);

    --color-btn: #4e4964;
    --color-review-btn: #2a839e;
    --color-reload-btn: #2a839e;
    --color-ready-btn: #2a839e;
    --color-sort-btn: #2a759e;
    --color-points-btn: #2a759e;
    --color-pro-pic: #000;
}
@media (max-height: 375px){
    :root{
        --app-padding: .2rem;
    }
}

html, body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
body{
    --bg-size: clamp(30px, calc(var(--board-size-unit) * 2), 100px);
    --shadow-size-1: clamp(40px, calc(var(--board-size-unit) * 4), 200px);
    --shadow-size-2: clamp(100px, calc(var(--board-size-unit) * 10), 500px);
    --shadow-size-3: clamp(150px, calc(var(--board-size-unit) * 14), 700px);
    
    
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
    font-size: clamp(12px, calc(var(--board-size-unit) * .2), 16px);
    /* background: #d5dde6; */

    /* background-color: rgb(135 146 187);
    background-image: url(icons/bg.svg);
    background-repeat: repeat;
    background-position: 0 0, 0 0;
    background-size: var(--bg-size) var(--bg-size);
    box-shadow: 0px 0px var(--shadow-size-1) 20px rgba(68, 61, 86, 1) inset, 
                0px 0px var(--shadow-size-2) 20px rgba(68, 61, 86, 1) inset, 
                0px 0px var(--shadow-size-3) 20px rgba(68, 61, 86, 1) inset; */
}
.bg-1, .bg-2{
    position: fixed;
    height: 100%;
    left:0;
    right: 0;
    bottom: 0;
    transition: .5s ease;
}
.bg-1{
    background: radial-gradient(circle, rgb(181 192 233) 0%, rgba(68, 61, 86, 1) 100%);
    z-index: 1;
}
.bg-2{
    z-index: 2;
    background: url(icons/bg.svg);
    background-repeat: repeat;
    background-position: 0 0, 0 0;
    background-size: var(--bg-size) var(--bg-size);
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-none{
    flex: none;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-start{
    justify-content: start;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.gap-1{
    gap: .5rem;
}
.gap-2{
    gap: 1rem;
}
.text-center{
    text-align: center;
}
#app{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* width: var(--app-width); */
    /* height: var(--app-height); */
    height: 100vh;
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.board{
    position: relative;
    width: var(--board-width);
    height: var(--board-height);
}
.control-btn{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: calc(var(--btn-font-size) / 3);
    padding: var(--btn-padding);
    border: 1px solid transparent;
    border-radius: var(--btn-radius);
    background: var(--color-btn);
    color: #fff;
    font-size: var(--btn-font-size);
    /* font-weight: bold; */
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,.2);
    transition: .3s ease-in;
}
.control-btn:hover{
    opacity: .9;
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,.2);
}
.control-btn .svg-icon{
    width: var(--btn-font-size);
    height: var(--btn-font-size);
}
.identity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc(var(--board-size-unit) * .2);
    gap: calc(var(--board-size-unit) * .1);
}
.identity .name{
    white-space: nowrap;
    font-weight: bold;
    font-size: clamp(12px, calc(var(--board-size-unit) * .3), 16px);
    color: #0d364d;
}
.identity .pic{
    --size: clamp(25px, calc(var(--board-size-unit) * 2), 80px);
    position: relative;
    width: var(--size);
    height: var(--size);
    
    border-radius: 100%;
    overflow: hidden;
}
.identity .pic .svg-icon{
    width: 100%;
    height: 100%;
    display: block;
}
.identity .pic .head{
    position: absolute;
    width: 40%;
    height: 43%;
    background: #000;
    border-radius: 100%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.identity .pic .body{
    position: absolute;
    width: 90%;
    height: 65%;
    background: #000;
    border-radius: 100%;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
}
.player-area{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-area.vertical-list{
    flex-direction: row;
}
.player-area[data-no="0"],
.player-area[data-no="2"]{
    width: 100%;
    height: auto;
    left:0;
}
.player-area[data-no="0"]{
    bottom: 0;
}
.player-area[data-no="2"]{
    top: 0;
}
.player-area[data-no="1"],
.player-area[data-no="3"]{
    height: 100%;
    width: auto;
    top:0;
}
.player-area[data-no="1"]{
    left: 0;
}
.player-area[data-no="3"]{
    right: 0;
}
.player-area[data-no="0"] .player-info{
    display: flex;
    align-items: flex-end;
    width: var(--player-area-width);
    max-width: var(--player-area-width-max);
}
.player-area[data-no="0"] .player-info>.col-1{
    width: calc(50% - (var(--player-identity-width) / 2));
    padding-bottom: calc(var(--board-height-unit) * .3);
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--board-width-unit) * .2) calc(var(--board-width-unit) * .3);
    justify-content: flex-start;
    align-items: center;
}
.player-area[data-no="0"] .player-info>.col-2{
    width: var(--player-identity-width);
}
.player-area[data-no="0"] .player-info>.col-3{
    width: calc(50% - (var(--player-identity-width) / 2));
    padding-bottom: calc(var(--board-height-unit) * .3);
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--board-width-unit) * .2) calc(var(--board-width-unit) * .3);
    justify-content: flex-end;
    align-items: center;
}
.player-area[data-no="0"] .player-info .identity{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.player-area[data-no="0"] .player-info .controls .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--board-inside-unit) * .2);
}
.player-area-table-wrapper{
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.player-area.vertical-list .player-area-table-wrapper{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.player-area.vertical-list[data-no="3"] .player-area-table-wrapper{
    flex-direction: row-reverse;
}
.player-area-table{
    position: relative;
    width: var(--player-area-width);
    min-height: var(--card-height);
    max-width: var(--player-area-width-max);
}
.player-area.vertical-list .player-area-table{
    width: auto;
    min-height: auto;
    min-width: var(--card-width);
    height: var(--player-area-height);
    max-height: var(--player-area-height-max);
    min-height: var(--player-area-height-min);
}
.player-area-table-cell{
    position: absolute;
    left:0;
    top:0;
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    max-width: var(--card-width);
    max-height: var(--card-height);
    transition: .5s ease;
    transition-property: top, left, transform, opacity, visibility;
}
body.doing-review .player-area-table-cell{
    width: var(--card-width) !important;
    height: var(--card-height) !important;
    z-index: 0 !important;
}

.player-area-table-cell.ui-sortable-helper
{
    transition: none !important;
}
.player-area-table-cell.sorting-element
{
    z-index: 2;
    transition: none !important;
}
.player-area-table-card-wrapper{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.player-area-table-card-holder{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #fff;
    box-shadow: -2px 1px 6px rgba(0,0,0,.5);
    border-radius: var(--card-radius);
    transform: skewY(-1deg);
}
.player-area.vertical-list .player-area-table-card-holder{
    transform: skewX(-3deg);
}
.player-area-table-cell.ui-sortable-placeholder:after{
    content: "";
    position: absolute;
    width: var(--card-width);
    top:0;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    box-shadow: none;
    border-radius: var(--card-radius);
    border: 2px dashed #7e8d9f;
}

.player-area-table-card-holder .number{
    position: absolute;
    font-size: calc(var(--card-number-size) * 1);
    color: inherit;
    font-weight: bold;
}
.player-area-table-card-holder .number-top{
    top: calc(var(--card-inside-unit) * .8);
    left: calc(var(--card-inside-unit) * .8);
}
.player-area-table-card-holder .number-bottom{
    bottom: calc(var(--card-inside-unit) * .8);
    right: calc(var(--card-inside-unit) * .8);
}
.player-area-table-card-holder .type{
    position: absolute;
    width: calc(var(--card-inside-unit) * 6);
    height: calc(var(--card-inside-unit) * 6);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.player-area-table-card-holder .type .svg-icon{
    width: 100%;
    height: 100%;
    display: block;
}
.player-area-table-card-holder .type.type-2,
.player-area-table-card-holder .type.type-3{
    width: calc(var(--card-number-size) * .7);
    height: calc(var(--card-number-size) * .7);
    transform: none;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
.player-area-table-card-holder .type.type-2{
    bottom: calc(var(--card-inside-unit) * 1);
    left: calc(var(--card-inside-unit) * 1);
}
.player-area-table-card-holder .type.type-3{
    top: calc(var(--card-inside-unit) * 1);
    right: calc(var(--card-inside-unit) * 1);
}
.player-area-table-card-holder .type .line{
    display: none;
}
.player-area-table-card-holder[data-card-type="H"],
.player-area-table-card-holder[data-card-type="D"]
{
    color: var(--color-red);
}
.player-area-table-card-holder[data-card-type="S"],
.player-area-table-card-holder[data-card-type="C"]
{
    color: var(--color-black);
}
.player-area-table-card-holder[data-card-type="H"] .type .line-1,
.player-area-table-card-holder[data-card-type="H"] .type .line-2
{
    display: block;
    position: absolute;
    left:0;
    width: 60%;
    height: 90%;
    background: var(--color-red);
    border-radius: 100px 100px 0 0;
}
.player-area-table-card-holder[data-card-type="H"] .type .line-1{
    left: 8%;
    transform: rotate(-45deg);
}
.player-area-table-card-holder[data-card-type="H"] .type .line-2{
    left: 31%;
    transform: rotate(45deg);
}

.player-area-table-card-holder[data-card-type="S"] .type .line-1,
.player-area-table-card-holder[data-card-type="S"] .type .line-2
{
    display: block;
    position: absolute;
    left:0;
    width: 60%;
    height: 90%;
    background: var(--color-black);
    border-radius: 0 0 100px 100px;
}
.player-area-table-card-holder[data-card-type="S"] .type .line-1{
    left: 8%;
    transform: rotate(45deg);
}
.player-area-table-card-holder[data-card-type="S"] .type .line-2{
    left: 31%;
    transform: rotate(-45deg);
}
.player-area-table-card-holder[data-card-type="S"] .type .line-3{
    display: block;
    position: absolute;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 14%;
    height: 50%;
    background: var(--color-black);
}

.player-area-table-card-holder[data-card-type="C"] .type .line-1,
.player-area-table-card-holder[data-card-type="C"] .type .line-2,
.player-area-table-card-holder[data-card-type="C"] .type .line-3
{
    display: block;
    position: absolute;
    left:0;
    width: 50%;
    height: 50%;
    background: var(--color-black);
    border-radius: 100%;
}
.player-area-table-card-holder[data-card-type="C"] .type .line-1{
    left: 50%;
    transform: translateX(-50%);
}
.player-area-table-card-holder[data-card-type="C"] .type .line-2{
    left: 0%;
    top: 30%;
}
.player-area-table-card-holder[data-card-type="C"] .type .line-3{
    left: auto;
    right: 0%;
    top: 30%;
}
.player-area-table-card-holder[data-card-type="C"] .type .line-4{
    display: block;
    position: absolute;
    border-radius: 3px;
    left: 51%;
    transform: translateX(-50%);
    bottom: 0;
    width: 14%;
    height: 50%;
    background: var(--color-black);
}
.player-area-table-card-holder[data-card-type="D"] .type .line-1
{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    background: var(--color-red);
    border-radius: 0;
    transform: rotateY(45deg) rotate(45deg)  translateX(-87%) translateY(13%);
}
.player-area-table-cell.turn-to-board{
    transition: 1s ease !important;
    transition-property: top, left, transform, opacity, visibility !important;
}
.player-area-table-cell.turned-to-board .player-area-table-card-holder{
    transform: skewY(0deg);
}
.player-area-table-cell.returned-to-winner{
    opacity: 0;
    visibility: hidden;
}
.player-area-table-card-holder .batch-no{
    display: none;
}
body.doing-review .player-area-table-card-holder .batch-no{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(var(--card-inside-unit) * 1);
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--card-inside-unit) * 3.5);
    height: calc(var(--card-inside-unit) * 3.5);
    font-size: calc(var(--card-inside-unit) * 2.5);
    font-weight: bold;
    color: #fff;
    background: #686868;
    border-radius: 100%;
}
body.doing-review .player-area-table-cell[data-has-won="1"] .batch-no{
    color: #fff;
    background: #43bd8a;
}
.submit-table{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(var(--board-width-unit) * 10);
    height: calc(var(--board-height-unit) * 8);
    
    z-index: -1;
    border-radius: var(--submit-table-radius);
    box-shadow: 0 -11px 15px -7px rgba(0, 0, 0, 0.2),0 -24px 38px 3px #00000024, 0 24px 38px 3px #00000024,0 -9px 46px 8px #0000001f;
    background: rgb(196 193 241);
    background: radial-gradient(circle, rgb(196 193 241) 0%, rgb(145 132 179) 100%);
    
}
.submit-table:before{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: var(--submit-table-radius);
    background: url('icons/table-bg.svg');
    background-repeat: repeat;
    background-size: clamp(30px, calc(var(--board-size-unit) * 4), 200px) auto;
    opacity: .05;
}
.submit-table:after{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: var(--submit-table-radius);
    border: calc(var(--board-size-unit) * .3) solid #70648e;
    z-index: 2;
}
.submit-table-child{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(var(--card-width) * 2);
    height: calc(var(--card-height) * 1);
    min-width: 50%;
    min-height: 50%;
    border-radius: var(--submit-table-radius);
    background: rgb(199 197 234);
    background: radial-gradient(circle, rgb(199 197 234) 0%, rgb(164 158 204) 100%);
    box-shadow: 0px 0px 50px -5px rgba(255,255,255,.2);
    z-index: 3;
    
}
.submit-table-child:before{
    content: "";
    position: absolute;
    left:0; top:0;bottom:0;right:0;
    border-radius: var(--submit-table-radius);
    background: url('icons/table-bg-2.svg');
    background-repeat: repeat;
    background-size: clamp(30px, calc(var(--board-size-unit) * 7), 200px) auto;
    opacity: .15;
    z-index: 4;
}
.submit-table-child:after{
    content: "";
    position: absolute;
    left:0; top:0;bottom:0;right:0;
    border-radius: var(--submit-table-radius);
    border: calc(var(--board-size-unit)* .1) solid rgb(140 134 184);
    z-index: 5;
}

.submit-table-child .card-set .card{
    position: absolute;
    top: 0;
    left: 0;
    height: var(--card-height);
    width:var(--card-width);
}
.submit-table-child .card-set .card.card-0{
    transform: translateX(calc(var(--card-width) * -0.8)) translateY(calc(var(--card-height) * .07)) rotate(-25deg)
}
.submit-table-child .card-set .card.card-1{
    transform: translateX(calc(var(--card-width) * -0.4)) translateY(calc(var(--card-height) * .01)) rotate(-10deg)
}
.submit-table-child .card-set .card.card-2{
    transform: translateX(0) translateY(0) rotate(0deg);
}
.submit-table-child .card-set .card.card-3{
    transform: translateX(calc(var(--card-width) * 0.4)) translateY(calc(var(--card-height) * .01)) rotate(10deg);
}
.submit-table-child .card-set{
    display: block;
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
}
.submit-table-child .card-set-0{
    left: 50%;
    top:100%;
    transform: translateX(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.submit-table-child .card-set-2{
    left: 50%;
    bottom:100%;
    transform: translateX(-50%);
    transform: translateX(-50%) translateY(50%);
}
.submit-table-child .card-set-1{
    right: 100%;
    top: 50%;
    transform: translateX(-20%) translateY(-50%);
}
.submit-table-child .card-set-3{
    left: 100%;
    top: 50%;
    transform: translateX(20%) translateY(-50%);
}
.modal{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 1rem;
    z-index: 5;
}
.modal.show{
    display: flex;
}
.modal > .backdrop{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.2);
}
.modal .modal-dialog{
    width: 600px;
    max-width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    z-index: 2;
    margin: auto;
}
.modal .modal-header{
    padding: calc(var(--board-size-unit)* .3) calc(var(--board-size-unit) * .4);
    padding-bottom: 0;
}
.modal .modal-header .modal-title{
    font-size: 140%;
    font-weight: bold;
}
.modal .modal-body{
    padding: calc(var(--board-size-unit) * .3) calc(var(--board-size-unit) * .4);
}
.modal .modal-footer{
    padding: calc(var(--board-size-unit)* .3) calc(var(--board-size-unit) * .4);
    padding-top: 0;
}
.result-modal .modal-header{
    font-size: var(--result-font-size);
}
.table-responsive{
    overflow: auto;
}
.table{
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td{
    padding: calc(var(--board-size-unit) * .1) calc(var(--board-size-unit) * .1);
}
table.result-table{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    font-size: var(--result-font-size);
}
table.result-table thead tr:first-child th:first-child,
table.result-table thead tr:first-child td:first-child{
    border-top-left-radius: 10px;
}
table.result-table thead tr:first-child th:last-child,
table.result-table thead tr:first-child td:last-child{
    border-top-right-radius: 10px;
}
table.result-table tfoot tr:last-child th:first-child,
table.result-table tfoot tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
table.result-table tfoot tr:last-child th:last-child,
table.result-table tfoot tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

.result-table th, .result-table td{
    text-align: center;
    border: 1px solid;
}

.reload-btn{ background: var(--color-reload-btn); }
.sort-btn{ background: var(--color-sort-btn); }
.make-btn{ background: var(--color-sort-btn); }
.ready-btn{ background: var(--color-ready-btn); }
.review-btn{ background: var(--color-review-btn); }
.review-done-btn{ background: var(--color-review-btn); }
.points-btn{ background: var(--color-points-btn); }
body:not(.round-ended) .review-btn,
body.doing-review .review-btn,
body.doing-review .make-btn,
body.doing-review .sort-btn,
body.doing-review .ready-btn,
body.round-running .reload-btn,
body.round-running .make-btn,
body.round-running .sort-btn,
body.round-running .ready-btn,
body.round-running .points-btn,
body:not(.doing-review) .review-done-btn
{
    display: none;
}
body:not(.round-started) .player-area-table{
    pointer-events: none;
}

.player-area-table-cell .player-area-table-card-wrapper{
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: rotateY(180deg);
}
.player-area-table-cell .player-area-table-card-holder{
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.player-area-table-cell .cardback{
    z-index: 1;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius: var(--card-radius);
    background: #fffaf2;
    box-shadow: -2px 1px 6px rgba(0,0,0,.5);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg) skewY(-1deg);
    background: linear-gradient(180deg, rgb(249, 249, 234) 0%, rgba(255,255,252,1) 50%, rgb(249, 249, 234) 100%);
    overflow: hidden;
}
.player-area-table-cell .cardback:after,
.player-area-table-cell .cardback:before{
    content: "";
    position: absolute;
    width: calc(var(--card-width) * 2);
    height: calc(var(--card-width) * 2);
    border-radius: 100%;
    z-index: 2;
    opacity: .1;
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(254,254,246,0) 60%);
}
.player-area-table-cell .cardback:after{
    top: calc((var(--card-width)) * -1);
    right: calc((var(--card-width)) * -1);
}
.player-area-table-cell .cardback:before{
    left: calc((var(--card-width)) * -1);
    bottom: calc((var(--card-width)) * -1);
}
.player-area-table-cell .player-area-table-card-holder{
    overflow: hidden;
}
.player-area-table-cell .player-area-table-card-holder:after,
.player-area-table-cell .player-area-table-card-holder:before{
    content: "";
    position: absolute;
    width: calc(var(--card-width) * 1.7);
    height: calc(var(--card-width) * 1.7);
    /* border: 1px solid; */
    border-radius: 100%;
    z-index: 2;
    opacity: .15;
    background: radial-gradient(circle, rgb(112 70 33) 0%, rgba(254, 254, 246, 0) 60%);
}
.player-area-table-cell .player-area-table-card-holder:after{
    top: calc((var(--card-width)) * -1);
    right: calc((var(--card-width)) * -1);
}
.player-area-table-cell .player-area-table-card-holder:before{
    left: calc((var(--card-width)) * -1);
    bottom: calc((var(--card-width)) * -1);
}
.player-area.vertical-list .player-area-table-cell .cardback{
    transform: rotateY(180deg) skewX(-3deg);
}
.player-area-table-cell .cardback .cardback-child{
    --grid-size: calc(var(--card-inside-unit) * 3);
    --grid-size: calc(var(--card-inside-unit) * 2);
    --grid-position: calc(var(--grid-size) / 2);
    --grid-position-neg: calc(var(--grid-position) * (-1));
    --grid-color-0: transparent;
    --grid-color-1: #655594;
    --grid-color-2: #c59ccb;
    position: absolute;
    top: calc(var(--card-inside-unit) * 1);
    left: calc(var(--card-inside-unit) * 1);
    right: calc(var(--card-inside-unit) * 1);
    bottom: calc(var(--card-inside-unit) * 1);
}
.player-area-table-cell .cardback .cardback-child:after{
    content: "";
    position: absolute;
    width: 70%;
    height: 150%;
    top: -15%;
    left: 19%;
    transform: rotate(-29deg);
    opacity: .1;
    background: linear-gradient(90deg, rgba(89, 89, 78, 0) 0%, rgba(255, 255, 255, 0.78) 51%, rgba(127, 127, 117, 0) 100%);
}
.player-area-table-cell .cardback .cardback-child .card-back-svg{
    width: 100%;
    height: 100%;
    display: block;
}
.player-area[data-no="0"] .player-area-table-cell .player-area-table-card-wrapper,
body.doing-review .player-area-table-cell .player-area-table-card-wrapper,
.player-area-table-cell.turn-to-board .player-area-table-card-wrapper{
    transform: rotateY(0deg);
}
.player-area-table-cell.turn-to-board:not(.returned-to-winner){
    z-index: 20;
}
body.round-started .player-area[data-no="1"] .player-area-table-cell,
body.round-started .player-area[data-no="2"] .player-area-table-cell,
body.round-started .player-area[data-no="3"] .player-area-table-cell
{
    /* transition: none !important; */
}
.result-table .game-over-row{
    font-size: 200%;
    color: #dc7e07;
}
.contact{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-bottom: .5rem;
    z-index: 4;
}

.contact a{
    color: #0b2c46;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
@media (max-height: 375px){
    .contact{
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        padding: 0;
        opacity: .1;
    }
    .contact a{
        font-size: 12px;
    }
}
.contact a:hover {
    border-bottom: 1px solid #0b2c46;
}
body.no-transition .player-area-table-cell{
    transition: none !important;
}